.CardBody {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 0;
}

.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.StarContainer p {
  margin-bottom: 0;
  font-size: large;
  margin-left: 20px;
}

.PostBar {
  border: 1px solid #dadadf;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: auto;
  font-size: small;
}

.TextCenter {
  margin: auto;
}
